{% extends "layout.html" %}

{% block body %}

<!-- lefthand column -->
<div class="col-5 py-5 pl-5">
    <h2 class="SP">Similar Pattern found in:</h2>
    <div style="background: white; opacity: 0.7; padding: 25px; border-radius: 15px; overflow: scroll; max-height: 450px; overflow-x: hidden;" class="mt-4">
        {% for data in pos %}
        <p>{{ data }}</p>
        {% endfor %}
    </div>
</div>

<!-- righthand column -->
<div class="col-6 py-5 pl-5">
    <h2 class="SP">Pattern: </h2>
    <div style="background: white; opacity: 0.7; padding: 25px; border-radius: 15px; overflow: scroll; max-height: 450px; overflow-x: hidden;" class="mt-4">
        {% for dd in pattern_text %}
        <p>{{ dd }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}
