<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css' ) }}" rel="stylesheet"/>

    <link href="{{ url_for('static', filename='css/styles.css' ) }}" rel="stylesheet"/>

    <title>Find Similarities</title>

</head>
<body class="background">
<nav class="navbar">
    <a class="navbar-brand" href="{{ url_for('index') }}">Student Essay Checker</a>
</nav>

<div class="container-fluid">
    <div class="row">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js' ) }}"></script>

</body>
</html>
